@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: rgb(1, 7, 9);
}

.error-message {
    color: #e53e3e; 
    margin: 0;
    padding: 0;
}

.input {
    background-color: white;
    border-radius: 0.375rem;
    padding: 0.75rem; 
}
  
/* Stilovi za onemogućeni gumb */
.disabled-button {
    background-color: #374f80;
    color: #6b7280;
    cursor: not-allowed;
}
  
/* Stilovi za omogućeni gumb */
.enabled-button {
    background-color: theme('colors.primary'); 
    color: #ffffff;
}
  
/* Stilovi za hover efekt */
.enabled-button:hover {
    background-color: rgb(25, 99, 235); 
}
  